.glavni-sadrzaj {
  min-height: 80vh;
}

.glavni-naslov {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.glavni-naslov h1 {
    margin: 0;
    padding: 20px;
    font-weight: bold;
    color: #333;
}

.glavni-naslov h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 4px;
    background-color: #362422;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}

footer {
    background-color: #1f1c1b;
    text-align: center;
    padding: 15px 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}
